/* * * * * * * * * FONTS * * * * * * * * */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* * * * * * * * * COLOR SCHEME * * * * * * * * */
:root {
    --red1: #FFD5D5;
    --red2: #FFB0B0;
    --red3: #FF8A8A;
    --red4: #EC5A5A;
    --red5: #D53434;
    --red6: #B31414;
    --red7: #940000;
    --red8: #6F0000;
    --red9: #450000;

    --turquoise1: #BDE3E3;
    --turquoise2: #85C1C1;
    --turquoise3: #5DABAB;
    --turquoise4: #368E8E;
    --turquoise5: #1F8080;
    --turquoise6: #0C6C6C;
    --turquoise7: #005959;
    --turquoise8: #004343;
    --turquoise9: #002929;

    --green1: #C9F1C9;
    --green2: #9AE09A;
    --green3: #73D573;
    --green4: #488D48;
    --green5: #2AAB2A;
    --green6: #108F10;
    --green7: #007600;
    --green8: #005900;
    --green9: #003700;

    --brown1: #FFE8D5;
    --brown2: #FFD4B0;
    --brown3: #FFBF8A;
    --brown4: #EC9C5A;
    --brown5: #D57D34;
    --brown6: #B35C14;
    --brown7: #944300;
    --brown8: #6F3200;
    --brown9: #451F00;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}
header, main, footer{
    padding: 1rem;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* * * * * * * * * LINKS * * * * * * * * */
a{
    color: var(--red1); /*red1*/
    text-decoration: none;
    transition: all .3s ease-in-out;
}

a:visited{
    color: var(--red1); /*red1*/
}

a:hover {
    color: var(--turquoise4); /*red1*/ /*turquoise4*/
    font-weight: bold;
}

a:active {
    color: var(--red4); /*--red4*/
}

/* * * * * * * * * HEADER * * * * * * * * */
header {
    margin: 0;
    background-color: var(--red7); /* red7 */
    color: #ffffff;
    min-height: 2.25rem; 
}

header h1{
    padding-bottom: .5rem;
    font-size: 2em;
}

span.logo-lower-case {
    font-size: 1.7rem;
}
/* * * * * * * * * NAVIGATION * * * * * * * * */
.hamburger {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 40px;
    color: #fff;
    font-size: 1.5rem;
}

#toggle {
    position: absolute;
    top: 10px;
    right: 40px;
    height: 1.2rem;
    width: 1.2rem;
    opacity: 0;
    cursor: pointer;
}
nav ul.nav_ul{
    margin: 1rem 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 0px;
    transition: all .3s ease-in-out;
}

nav ul.nav_ul li.nav_ul{
    height: 0px;
    list-style: none;
    padding: .5rem;
    font-size: 0rem;
    transition: all .3s ease-in-out;
}


#toggle:checked ~ ul.nav_ul{
    height: 100vh;
    transition: all .2s ease-in-out;
}

#toggle:checked ~ ul.nav_ul li.nav_ul{
    height: 3rem;
    transition: all .2s ease-in-out;
    font-size: 1.5rem;
}

#profile-icon {
    position: absolute;
    top: 6px;
    right: 9px;
    font-size: 1.85rem;
    color: #fff;
}

.active {
    font-weight: bold;
    color: var(--red2); /* red2 */
}


/* * * * * * * * * FORMS * * * * * * * * */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-control {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    width: 90vw;
    max-width: 20rem;
}

.form-control input, .form-control select, .form-control div.input-div{
    padding: .2rem;
    font-size: 1.25rem;
    font-family: "Montserrat", sans-serif;
}

.submit-btn {
    margin-top: 1rem;
    padding: .5rem;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    background-color: var(--red7);
    color: #fff;
    border-radius: 5px;
    border: none;;
    width: 90vw;
    max-width: 20rem;
    cursor: pointer;
}

select {
    padding: .5rem;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
}

/* * * * * * * * * IMAGES * * * * * * * * */
img.profile-image {
    width: 100%;
    border-radius: 5px;
}

img.avatar-choice {
    width: 20rem;
}

.boss-battle-img {
    max-width: 25vw;
    border-radius: 15px;
}

#monster-img{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 1;
}

#player-img{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row: 1;
}

#explosion-monster, #crit, #miss{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row: 1;
    max-width: 30vw;
    height: 0rem;
    z-index: 1;
}

#crit, #miss{
    color: #fff;
    font-size: 0rem;
    font-weight: bold;
    z-index: 2;
}



/* * * * * * * * * DIVS * * * * * * * * */
.list-info p{
    margin: 1rem 1rem 1rem 0;
}

.display-none {
    display: none;
}

/* * * * * * * * * * * * GAME STUFF * * * * * * * * * * */
#boss-battle-h1{
    padding: 2rem;
}

#choose-div {
    margin: auto;
    width: 320px;
    
}

.choose-team, .choose-questions, .choose-course {
    margin-bottom: 2rem;
}

#display-div{
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-gap: 1.5rem;
    max-width: 90vw;
    align-items: center;
    justify-items: center;
    text-align: center;
    position: relative;
}

.boss-battle-text{
    font-size: 5rem;
    text-align: center;
}



#game-start-btn{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row: 3;
    margin-top: 2rem;
    font-size: 2rem;
}

.boss-battle-name {
    font-size: 2rem;
}

#team-name {
    display: grid;
    grid-column-start: 3;
    grid-column-end: 4;
}

#monster-name {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
}

#question-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#question-div-text{
   padding: 4rem 2rem 2rem;
   font-size: 2rem;
}

#checkBtn{
    grid-column-start: 1;
    grid-column-end: 3;
}

#question-btns{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;

}

#boss-health{
    grid-column-start: 2;
    grid-column-end: 3;
    font-size: 1.25rem;
}
/* * * * * * * * * * * *  END GAME  * * * * * * * * * * */
#end-game-banner{
    grid-column-start: 1;
    grid-column-end: 4;

}

/* * * * * * * * * * * *  ANIMATIONS  * * * * * * * * * * */

.explosion-animation{
    animation-name: explode;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}

@keyframes explode{
    50% {height: 15rem;}
    100% {height: 0rem;}
}

.critmiss-animation{
    animation-name: critmiss;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}

@keyframes critmiss{
    50% {font-size: 3rem;}
    100% {font-size: 0rem;}
}