    <!DOCTYPE html>
    <html lang="en">
    
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ScholaRPG</title>
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/large.css">
</head>
<body>
    <header>
        <h1>SCHOLARPG</h1>
        <nav>
            <a id="profile-icon" href="/profile">&#9786;</a>
            <label for="toggle" class="hamburger">☰</label>
            <input type="checkbox" id="toggle">
            <ul class="nav_ul">
                    
                <li class="nav_ul">
                    <a href="/">Home</a>
                </li>
                <li class="nav_ul">
                    <a href="/">Tools</a>
                </li>
                <li class="nav_ul">
                    <a href="/">Quests</a>
                </li>
                <li class="nav_ul">
                    <a href="/">Settings</a>
                </li>
                
                <!-- <li class="nav_ul">
                    <a class="<%= path==='/cart' ? 'active':'' %>" href='/cart'>Cart</a>
                </li>
                <li class="nav_ul">
                    <a class="<%= path==='/orders' ? 'active':'' %>" href='/orders'>Orders</a>
                </li>
               <li class="nav_ul">
                    <a class="<%= path==='/admin/add-product' ? 'active':'' %>" href="/admin/add-product">Add Product</a>
                </li>
                <li class="nav_ul">
                    <a class="<%= path==='/admin/products' ? 'active':'' %>" href="/admin/products">Admin Products</a>
                </li> -->
                
            </ul>
        </nav>
    </header>
</body>
</html>